<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv='X-UA-Compatible' content="ie=edge">
  <title> National Park CRUD App </title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" text="text/css" href="/css/style.css">
  </head>

<body>

<div class="hero-container">
  <div class="hero"></div>
  <div class="hero-stuff">
      <h1>National Park Planner</h1>

  </div>
</div>
<div class='description'>
<p>Welcome to National Park Planner! We are a full directory of every national park in the United States. National Parks rank high amongst the most beautiful and historic sites the U.S. has to offer. Click on a state below to learn more.</p>
</div>


<div class="map">
<iframe src="https://createaclickablemap.com/map.php?&id=70483&maplocation=false&online=true" width="1082" height="631" style="border: none;"></iframe>
<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
</div>


<footer> © 2018 Designed by Lauren Hale </footer>

</body>


</html>
