body, html {
  /*take up all available height*/
  height: 100%
}


.hero-container {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 0x;
}

.hero {
  background: url('https://i.imgur.com/lWjYcJu.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
  opacity:.95;

}



.hero-stuff {
  position: absolute;
  top: 150px;
  left: 450px;
}



h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: Arial;
  color: #F5F5F5;
  opacity: .85

}
.description {
  padding-bottom: 3em;
  background: #13060d;
  opacity: .75;
}
.description p {
  width: 800px;
  margin: 0 auto;
  padding: 3em 3em 0;
  color: #fff;
  font : normal 300 20px/1.8 'Open Sans', sans-serif;
}

body {
  background-color:#F5F5F5;

}

.map {
  text-align: center;
}

footer {
  background: #13060d;
  padding: 10px;
  margin-top:20px;
  opacity: .8;
  color:#F5F5F5;
  font-side:10px;

}

